#title-prof {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    text-align:center;
}

.info {
    padding-top:25px;
    padding-bottom:25px;
}

#pro-edit {
    text-align:center;
    padding:10px;
}

#myBtn {
    background-color: rgb(53,96,136);
    padding:10px;
    padding-left:20px;
    padding-right: 20px;
}

.cen-btn {
    
}

#myBtn:hover {
    text-decoration: underline;
}

.my-btn {
    background-color: rgb(53,96,136);
    padding:10px;
    padding-left:20px;
    padding-right: 20px;
}

.my-btn:hover {
    text-decoration: underline;
}

#myModal {
    
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    transform: scale(1.1);
}

.input-disp {
    width:450px;
    padding-bottom: 10px;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 320px !important;
    border-radius: 0.5rem;
}

.show-modal {
    visibility: visible;
    transform: scale(1.0);
}

.close {
    color: white;
    float:right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.disp {
    text-align:right;
}